# Firebase
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFirestoreBinary.json"

# Core
## RxSwift
github "ReactiveX/RxSwift" ~> 5.0

# Util
## SwiftDate
github "malcommac/SwiftDate" ~> 6.0